* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
.home {
    width: 100%;
    height: 100vh;
}
.main-background {
    display: flex;
    height: 82.3%;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/imgs/Cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}
.home-main__title {
    color: white;
}
.home-main__buttom {
    margin: 15px 0;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #48cfad;
}
.blogs {
    font-size: 1.1rem;
}
.ultima-noticia {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
}
.ultima-noticia__img-container {
    width: 50vw;
    height: 100%;
    padding: 20px;
}
.ultima-noticia__img-container img {
    display: inline-block;
    width: 100%;
    height: 350px;
    margin-top: 10px;
}
.ultima-noticia__title-section {
    width: 50vw;
    height: 100%;
    padding: 70px 50px;
}
.title-section--title {
    margin-bottom: 15px;
}
.read-more {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #48cfad;
    padding: 3px;
    margin-top: 20px;
    color: #000;
}
.cards-container {
    display: grid;
    margin: 20px 0;
    width: 100%;
    grid-template: auto / repeat(3, 1fr);
    gap: 10px;
}
.card {
    margin: 5px;
    min-width: 200px;
    max-width: auto;
    height: auto;
}
.img-container {
    margin-bottom: 10px;
    width: 100%;
    min-height: 250px;
    max-height: 350px;
    background-color: #8BCBF3;
    border-radius: 15px;
}
footer {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    background-color: #48cfad;
}
.footer-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: auto;
    background-color: #2C2C34;
    color: #fff;
    font-size: 1.1rem;
}